* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #e2211c;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  min-height: 100vh;
}

.header {
  padding: 0;
  width: 100%;
  height: auto;
}

nav {
  background-color: #1f1f1f;
  text-decoration: none;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav__container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav .nav__label,
nav .nav__input {
  display: none;
}

nav .nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  font-size: 18px;
  display: flex;
  width: 100%;
  margin-left: 250px;
  margin-left: 250px;

}

nav .nav__item {
  border-radius: 10%;
  padding: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

nav .nav__item:hover {
  background-color: #e2211c;
}

nav .nav__logo {
  border: 2px;
  border-radius: 15px 30px 30px;
}

.jugadores {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.jugador {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.dorsal {
  font-size: 20px;
  font-weight: bold;
}

.nombre {
  padding: 5px;
}

.nombre:hover {
  color: white;
}


/* Slides */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(-100%);
  }

  30% {
    transform: translateX(-100%);
  }

  35% {
    transform: translateX(-200%);
  }

  50% {
    transform: translateX(-200%);
  }

  55% {
    transform: translateX(-300%);
  }

  70% {
    transform: translateX(-300%);
  }

  75% {
    transform: translateX(-400%);
  }

  90% {
    transform: translateX(-400%);
  }

  95% {
    transform: translateX(-500%);
  }

  100% {
    transform: translateX(-500%);
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

.slider {
  position: relative;
}

.slides {
  position: relative;
  display: flex;
  overflow: hidden;
}

.slide {
  width: 100vw;
  flex-shrink: 0;
  animation-name: slide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slides:hover .slide {
  animation-play-state: paused;
}

.slide img {
  width: 100%;
  vertical-align: top;
}

.slide a {
  width: 100%;
  display: inline-block;
  position: relative;
}

.caption {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 8vw;
  position: absolute;
  bottom: 8vw;
  right: 4vw;
}

.slide:target {
  animation-name: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.slider-controler {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.slider-controler li {
  margin: 0 0.5rem;
  display: inline-block;
  vertical-align: top;
}

.jugador img:hover {
  transform: scale(105%);
}

.slider-controler a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
  .slide {
    width: 1200px;
  }

  .caption {
    font-size: 96px;
    bottom: 96px;
    right: 50px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo {
  text-align: center;
  margin: 1em 0 1.5em 0;
}

h1,
h2 {
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 36px;
}

.titulos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row: inherit;
  text-align: center;
}

form input {
  border-radius: 20px;
  font-size: 20px;
}

form button {
  margin: 10px;
  font-size: 20px;
}
form p{
  margin: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
}

.text-box{
  width: 500px;
  height: 200px;
}

@media (max-width: 480px) {
  nav .nav__container {
    justify-content: space-evenly;
    margin-bottom: 5px;
  }
  nav .nav__label {
    display: block;
    cursor: pointer;
    font-size: 25px;
    color: aliceblue;
  }
  nav .nav__menu {
    display: none;
  }
  nav .nav__input:checked + .nav__menu {
    display: flex;
    position:absolute;
    top: 130px;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    gap: 1em;
    margin: 0;
  }
  .wrapper{
    margin-top: 200px;
  }
  .jugadores{
    display: grid;
    grid-template-columns: 1fr;
  }
  .titulos{
    display: grid;
    grid-template-columns: 1fr;
  }
  .text-box{
    width: 300px;
    height: 150px;
  }
}
@media (max-width: 768px){
  nav .nav__container {
    justify-content: space-evenly;
    margin-bottom: 5px;
  }
  nav .nav__label {
    display: block;
    cursor: pointer;
    font-size: 25px;
    color: aliceblue;
  }
  nav .nav__menu {
    display: none;
  }
  nav .nav__input:checked + .nav__menu {
    display: flex;
    position:absolute;
    top: 130px;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    gap: 1em;
    margin: 0;
  }
  .wrapper{
    margin-top: 200px;
  }
  .jugadores{
    display: grid;
    grid-template-columns: 1fr ;
  }
  .titulos{
    display: grid;
    grid-template-columns: 1fr;
  }
}
